
<div class="container">
    <nav class="navbar navbar-light bg-dark" >

        <a class="navbar-brand" href="/" id="foto">
            <img src="/img/img1.png" alt="#" width="65" height="65" class="foto">
        </a>
    
        
            <ul>   
                <li>
                    <a href="/">Perguntas</a>
                </li>
                <li>
                    <a href="/questionme">QuestionMe</a>
                </li>   
            </ul>
    
       
    </nav>
</div>